<div id="join" class="page join-page empty">
    <div class="login">
        <h2 class="title">Please sign in to Google Drive first</h2>
        <button type="button">Sign in</button>
    </div>
    <div class="empty">
        <div class="document">
            <h2 class="heading">Join session</h2>
            <div class="introduction">
                <p>In order to join a Fiascomputer session, you need to use the link provided by the host. It should include the text "<code>?session=</code>" followed by a sequence of random characters.</p>
                <p>If you want to start a session, please visit the <a href="/" data-absolute>main Fiascomputer app</a>.</p>
            </div>
        </div>
        <div class="credits">
            <small>
                <p>For more software like this, visit <a href="http://tabletopsoftware.net/" target="_blank">TabletopSoftware.net</a></p>
                <p>The <a href="http://www.bullypulpitgames.com/games/fiasco/" target="_blank"><cite>Fiasco</cite></a> RPG is published by <a href="http://www.bullypulpitgames.com/" target="_blank">Bully Pulpit Games</a></p>
            </small>
        </div>
    </div>
    <div class="loading">
        <p class="loading-message">Joining session...</p>
    </div>
    <div class="error">
        <h2 class="heading">Error joining session</h2>
        <p class="error-message">An error occurred when trying to join the session. Please refresh the page and try again, or ask the host to start a new session.</p>
        <h4 class="error-details-heading">Technical details</h4>
        <p class="error-details"></p>
    </error>
</div>
