<div id="table" class="page table-page">
    <div class="table">
        <h2 class="table-title"></h2>
        <p class="table-subtitle">
            <span class="table-subtitle-text"></span>
            <button type="button" class="edit">
                <img src="/images/pencil-white.svg" alt="Edit">
            </button>
        </p>
        <ol class="categories">
            <li class="category">
                <h3 class="category-name">
                    <a href="/setup" class="category-link"></a>
                    <button type="button" class="edit">
                        <img src="/images/pencil-white.svg" alt="Edit">
                    </button>
                </h3>
                <ol class="elements">
                    <li class="element-name">
                        <a href="/setup" class="element-link"></a>
                        <button type="button" class="edit">
                            <img src="/images/pencil-white.svg" alt="Edit">
                        </button>
                    </li>
                </ol>
            </li>
        </ol>
        <a href="/setup" class="close-button" id="close-table-control">
            <img src="/images/cross-black.svg" alt="Close">
        </a>
    </div>
</div>
